<html>
<head>
  <title>Display Error</title>
</head>
<body>
<h1>Display Error</h1>
  <p>The database is empty! There is nothing to display...</p>
<p>Please return to <a href="{{ url_for("index") }}">the home page</a> and try again.</p>
</body>
</html>
