<!DOCTYPE html>
<html>
<head>
<title>Opening and Closing Times</title>
<style>
	th {
		text-align: left;
		}
</style>
</head>
<body>
<table>
	<tr>
		<th>{{items[0].distance}}km ACP BREVET</th>
	</tr>
	<tr>
		<th>Checkpoint</th>
		<th>Date and Time</th>
	</tr>
	<tr>
		<th>=========</th>
		<th> ===========</th>
	</tr>
	{% for item in items %}
		<tr>
			<td> {{item.control_point}}km </td>
			<td> start: {{item.open}} </td>
		</tr>
		<tr>
			<td> </td>
			<td> close: {{item.close}} </td>
		</tr>
	{% endfor %}
</table>
</body>
</html>