<html>
<head>
  <title>Submit Error</title>
</head>
<body>
<h1>Submit Error</h1>
  <p>There is nothing to submit!</p>
<p>Please return to <a href="{{ url_for("index") }}">the home page</a> and try again.</p>
</body>
</html>
